<div class="container">
   <div class="row">
       <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
           <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-6">
                   <address>
                           <strong>To:</strong>
                           <br>
                       <strong><%= @booking.user.last_name + " " + @booking.user.first_name %></strong>
                       <br>
                       <%= @booking.user.address %>
                       <br>
                       <%= @booking.user.email %>
                   </address>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                   <p>
                       <em>Receipt #: 34522677W</em>
                   </p>
                   <p>
                       <em>Date: <%= DateTime.now.to_date %></em>
                   </p>
                   <p>
                       <em>Time: <%= Time.now.to_time %></em>
                   </p>
               </div>
           </div>
           <div class="row">
               <div class="text-center">
                   <h3>Booking Details</h3>
               </div>
               </span>
               <table class="table table-hover">
                   <thead>
                       <tr>
                           <th>Party of the Day</th>
                           <th class="text-center">Date</th>
                           <th class="text-center">Time</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="col-md-9"><em><%=@party.restaurant.name %></em></h4>
                           <br><%=@party.restaurant.address %>
                           <br><Tel:</abbr><%=@party.restaurant.contact_number%>
                           </td>
                           <td class="col-md-1 text-center"><%= DateTime.now.to_date %></td>
                           <td class="col-md-1 text-center">7.00pm</td>
                       </tr>
                       <tr>
                       <br>
                       </tr>
                       <tr>
                           <td>
                           <font style="font-size:12px;font-style:italic;">Thank you for using Food Roulette services
                           <br>
                           <br> Food-Roulette
                           <br>AG-7, Glomac Damansara, Jalan Damansara, Tmn Tun Dr Ismail, 60000, Malaysia
                           <br>Phone:+60 3-2168 3693</font>
                           </td>
                           <td></td>
                           <td class="text-right"><h4><strong></strong></h4></td>
                           <td> </td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
