

<div id="page-content-wrapper" class="welcome-center">

	<% if signed_in? %>

    <div class="image-bg-fluid-height img-bg-signed-in">

       <div class="row">

        <%= image_tag("spinwheel.png", :class =>"spinner") %>

     </div>

     <div class="row">

     <div class="col-sm-6 col-sm-offset-3">

        <button style="margin-top:20px;"class="btn btn-warning btn-lg">

            <%= link_to 'Spin the Wheel', new_party_path, :id =>"img-btn" %>

        </button>

    </div>

    </div>

    </div>

<% else %>

    <div class="image-bg-fluid-height">

        <div class="row">

        <%= image_tag("foodroulette-logo.png") %>

        </div>

        <div class="row">

         <div class="col-sm-4 col-sm-offset-4 img-btn-box">

            <div class="col-sm-4">

            <button class="btn btn-success btn-lg">

            <%= link_to 'Sign in', sign_in_path, :id =>"img-btn"%>

            </button>

            </div>

            <div class="col-sm-1">

            <h3 style="color:#f3f3f3;margin:3px;padding-top:3px;"> OR </h3>

            </div>

            <div class="col-sm-7">

            <button class="btn btn-primary btn-lg">

            <%= link_to 'Sign up', sign_up_path, :id => "img-btn" %>

            </button>

            </div>

       </div>

       </div>

   </div>

<% end %>
<!-- Content Section -->
 <section>
		 <div class="container">
				 <div class="row">
						 <div class="col-lg-12">
								 <h1 class="section-heading text-center" style="color:orange;">Hi there!</h1>
								 <p class="lead section-lead text-center" style="color:orange;"><b>Do you love meeting people?</b></p>
								 <p class="section-paragraph" style="color:orange;"><i><b>Well, this roulette meal app is for you! Sign up to have a meeting with some new people and new food! Just spin the wheel, do you feel lucky?</b></i></p>
						 </div>
				 </div>
		 </div>
 </section>
 <section id="services" class="bg-light-gray">
			<div class="container">
					<div class="row">
							<div class="col-lg-12 text-center">
									<h2 class="section-heading">How it Works</h2>
									<h3 class="section-subheading text-muted">Food Roulette</h3>
							</div>
					</div>
					<div class="row text-center">
							<div class="col-md-4">
									<span class="fa-stack fa-4x">
											<i class="fa fa-circle fa-stack-2x text-primary"></i>
											<i class="fa fa-bitcoin fa-stack-1x fa-inverse"></i>
									</span>
									<h4 class="service-heading">Buy Tokens</h4>
									<p class="text-muted">Buy <b>tokens</b> for Good Food, Good Laughs and Great Friends. If you ever run out of tokens, go to the <a href="#"><b>Buy Token</b></a> page!</p>
							</div>
							<div class="col-md-4">
									<span class="fa-stack fa-4x">
											<i class="fa fa-circle fa-stack-2x text-primary"></i>
											<i class="fa fa-rotate-right fa-stack-1x fa-inverse"></i>
									</span>
									<h4 class="service-heading">Spin the Wheel!</h4>
									<p class="text-muted">Just set the <b>time</b>, <b>place</b>, and <b>party size</b>. Soon, you'll be matched with a party of complete strangers in a random restaurant within your area!</p>
							</div>
							<div class="col-md-4">
									<span class="fa-stack fa-4x">
											<i class="fa fa-circle fa-stack-2x text-primary"></i>
											<i class="fa fa-heart fa-stack-1x fa-inverse"></i>
									</span>
									<h4 class="service-heading">Have Fun!</h4>
									<p class="text-muted"> It is completely random who you're matched with, so keep those conversational skills sharp!</p>
							</div>
					</div>
			</div>
	</section>
<section id="team" class="bg-light-gray">
			<div class="container">
					<div class="row">
							<div class="col-lg-12 text-center">
									<h2 class="section-heading">About us</h2>
									<h3 class="section-subheading text-muted">The team behind Food Roulette</h3>
							</div>
					</div>
					<div class="row">
							<div class="col-sm-4">
									<div class="team-member">
											<%= image_tag("dog.jpg", :class => "img-responsive img-circle") %>
											<h4>Kay Garland</h4>
											<p class="text-muted">Lead Designer</p>
											<ul class="list-inline social-buttons">
													<li><a href="#"><i class="fa fa-twitter"></i></a>
													</li>
													<li><a href="#"><i class="fa fa-facebook"></i></a>
													</li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a>
													</li>
											</ul>
									</div>
							</div>
							<div class="col-sm-4">
									<div class="team-member">
											<%= image_tag("dog.jpg", :class => "img-responsive img-circle") %>
											<h4>Larry Parker</h4>
											<p class="text-muted">Lead Marketer</p>
											<ul class="list-inline social-buttons">
													<li><a href="#"><i class="fa fa-twitter"></i></a>
													</li>
													<li><a href="#"><i class="fa fa-facebook"></i></a>
													</li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a>
													</li>
											</ul>
									</div>
							</div>
							<div class="col-sm-4">
									<div class="team-member">
											<%= image_tag("dog.jpg", :class => "img-responsive img-circle") %>
											<h4>Diana Pertersen</h4>
											<p class="text-muted">Lead Developer</p>
											<ul class="list-inline social-buttons">
													<li><a href="#"><i class="fa fa-twitter"></i></a>
													</li>
													<li><a href="#"><i class="fa fa-facebook"></i></a>
													</li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a>
													</li>
											</ul>
									</div>
							</div>
					</div>
					<div class="row">
							<div class="col-lg-8 col-lg-offset-2 text-center">
									<p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
							</div>
					</div>
			</div>
	</section>
<section id="contact">
			<div class="container">
					<div class="row">
							<div class="col-lg-12 text-center">
									<h2 class="section-heading">Contact Us</h2>
									<h3 class="section-subheading text-muted"></h3>
							</div>
					</div>
					<div class="row">
							<div class="col-lg-12">
									<form name="sentMessage" id="contactForm" novalidate>
											<div class="row">
													<div class="col-md-6">
															<div class="form-group">
																	<input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
																	<p class="help-block text-danger"></p>
															</div>
															<div class="form-group">
																	<input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
																	<p class="help-block text-danger"></p>
															</div>
															<div class="form-group">
																	<input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
																	<p class="help-block text-danger"></p>
															</div>
													</div>
													<div class="col-md-6">
															<div class="form-group">
																	<textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
																	<p class="help-block text-danger"></p>
															</div>
													</div>
													<div class="clearfix"></div>
													<div class="col-lg-12 text-center">
															<div id="success"></div>
															<button type="submit" class="btn btn-xl">Send Message</button>
													</div>
											</div>
									</form>
							</div>
					</div>
			</div>
	</section>
			<footer>
			<div class="container">
					<div class="row">
							<div class="col-md-4">
									<span class="copyright">Copyright &copy; Food Roulette 2016</span>
							</div>
							<div class="col-md-4">
									<ul class="list-inline social-buttons">
											<li><a href="#"><i class="fa fa-twitter"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-facebook"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a>
											</li>
									</ul>
							</div>
							<div class="col-md-4">
									<ul class="list-inline quicklinks">
											<li><a href="#">Privacy Policy</a>
											</li>
											<li><a href="#">Terms of Use</a>
											</li>
									</ul>
							</div>


</div>

<%=@welcome%>
