<%= simple_form_for [current_user, @restaurant]  do |f| %>

<% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@restaurant.errors.count, "error") %> prohibited
        this listing from being saved:
      </h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<!-- Form Name -->
<legend>Create Restaurant Listing Here</legend>

<!-- Text input-->
<form role="form" class = "form-inline">
   <label class="col-md-5 control-label">
     <div class="col-md-7 col-md-offset-12">

<fieldset>



   <div class="form-group">


  <%= f.label :name , class: "col-md-10 control-label"  %>
  <%= f.text_field :name, class: "col-sm-10 control-label", placeholder: 'name' %>

  </div>

  <div class="form-group">


  <%= f.label :description , class: "col-md-10 control-label"  %>
  <%= f.text_field :description, class: "col-sm-10 control-label", placeholder: 'description' %>

  </div>

  <div class="form-group">


  <%= f.label :no_of_guests , class: "col-md-10 control-label"  %>
  <%= f.select :no_of_guests,[[1],[2],[3],[4],[5],[6],[7],[8]], class: "col-sm-10 control-label" %>

  </div>

  <div class="form-group">


  <%= f.label :price_per_person , class: "col-md-10 control-label"  %>
  <%= f.text_field :price_per_person, class: "col-sm-10 control-label", placeholder: 'price_per_person' %>

  </div>

   <div class="form-group">


  <%= f.label :address , class: "col-md-10 control-label"  %>
  <%= f.text_field :address, class: "col-sm-10 control-label", placeholder: 'address' %>

  </div>


   <div class="form-group">


  <%= f.label :latitude , class: "col-md-10 control-label"  %>
  <%= f.text_field :latitude, class: "col-sm-10 control-label", placeholder: 'latitude' %>

  </div>

   <div class="form-group">


  <%= f.label :longitude , class: "col-md-10 control-label"  %>
  <%= f.text_field :longitude, class: "col-sm-10 control-label", placeholder: 'longitude' %>

  </div>

    <div class="form-group">


  <%= f.label :contact_number , class: "col-md-10 control-label"  %>
  <%= f.text_field :contact_number, class: "col-sm-10 control-label", placeholder: 'contact_number' %>

  </div>

      <div class="form-group">


  <%= f.label :price_tier , class: "col-md-10 control-label"  %>
  <%= f.text_field :price_tier, class: "col-sm-10 control-label", placeholder: 'price_tier' %><br>

  </div>

<br>

  <%= f.submit class: "btn-primary btnressubmit "%>



<% end %>

 </fieldset>

  </form>
