<%= simple_form_for [current_user, @restaurant]  do |f| %>

<% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@restaurant.errors.count, "error") %> prohibited
        this listing from being saved:
      </h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <%= f.label :name %><br />
  <%= f.text_area :name %><br />

  <%= f.label :description %><br />
  <%= f.text_area :description %><br />

  <%= f.label :no_of_guests %><br />
  <%= f.select :no_of_guests,[[1],[2],[3],[4],[5],[6],[7],[8]] %><br />

  <%= f.label :price_per_person %><br />
  <%= f.text_area :price_per_person %><br />

  <%= f.label :address %><br />
  <%= f.text_area :address %><br />

  <%= f.label :latitude %><br />
  <%= f.text_area :latitude %><br />


  <%= f.label :longitude %><br />
  <%= f.text_area :longitude %><br />

   <%= f.label :contact_number %><br />
  <%= f.text_area :contact_number %><br />

   <%= f.label :price_tier %><br />
  <%= f.text_area :price_tier %><br />

  <%= f.submit %>

<% end %>