<div class="container">

<div class="well form-horizontal">

    <legend>Details </legend>

    <%= simple_form_for [current_user, @restaurant]  do |f| %>

    <% if @restaurant.errors.any? %>

      <div id="error_explanation">

        <h2>

          <%= pluralize(@restaurant.errors.count, "error") %> prohibited

          this listing from being saved:

        </h2>

        <ul>

          <% @restaurant.errors.full_messages.each do |msg| %>

          <li><%= msg %></li>

          <% end %>

        </ul>

      </div>

    <% end %>

    <div class="form-group">

      <label class="col-md-4 control-label">Restaurant Name</label>

      <div class="col-md-4 inputGroupContainer">

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

          <%= f.text_field :name, :class => "form-control" %>

        </div>

      </div>

    </div>

    <div class="form-group">

      <label class="col-md-4 control-label">Description</label>

      <div class="col-md-4 inputGroupContainer">

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

          <%= f.text_field :description, :class => "form-control" %>

        </div>

      </div>

    </div>

    <div class="form-group">

      <label class="col-md-4 control-label">No Of Guests</label>

      <div class="col-md-4 inputGroupContainer">

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

          <%= f.select :no_of_guests, [[1],[2],[3],[4],[5],[6],[7],[8]], :class => "", :class => ""%>

        </div>

      </div>

    </div>

    <div class="form-group">

      <label class="col-md-4 control-label">Price per Person</label>

      <div class="col-md-4 inputGroupContainer">

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>

          <%= f.text_field :price_per_person, :class => "form-control" %>

        </div>

      </div>

    </div>

    <div class="form-group">

      <label class="col-md-4 control-label">Address</label>

      <div class="col-md-4 inputGroupContainer">

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>

          <%= f.text_field :address, :class => "form-control" %>

        </div>

      </div>

    </div>

    <div class="form-group">

      <label class="col-md-4 control-label">Latitude</label>

      <div class="col-md-4 inputGroupContainer">

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>

          <%= f.text_field :latitude, :class => "form-control" %>

        </div>

      </div>

    </div>

    <div class="form-group">

      <label class="col-md-4 control-label">Longitude</label>

      <div class="col-md-4 inputGroupContainer">

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>

          <%= f.text_field :longitude, :class => "form-control" %>

        </div>

      </div>

    </div>

    <div class="form-group">

      <label class="col-md-4 control-label">Contact number</label>

      <div class="col-md-4 inputGroupContainer">

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>

          <%= f.text_field :contact_number, :class => "form-control" %>

        </div>

      </div>

    </div>

    <div class="form-group">

      <label class="col-md-4 control-label">Price Tier</label>

      <div class="col-md-4 inputGroupContainer">

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-bitcoin"></i></span>

          <%= f.text_field :price_tier, :class => "form-control" %>

        </div>

      </div>

    </div>

    <div class="form-group">

      <label class="col-md-4 control-label"></label>

      <div class="col-md-4">

        <%= f.submit%>

      </div>

    </div>

    <% end %>

  </div>

</form>

</div>
