<div class="container">
   <div class="row col-md-10 col-md-offset-1 custyle">
   <table class="table table-striped custab">
   <thead>
   <%= link_to new_user_restaurant_path(current_user), :class => 'btn btn-primary btn-xs pull-right' do %><b>+</b> Add new listing
   <% end %>
       <tr>
           <th>ID</th>
           <th>Restaurant Name</th>
           <th>Address</th>
           <th>Number of guests</th>
           <th>Price Tier</th>
           <th class="text-center">Action</th>
       </tr>
   </thead>
       <tbody>
           <tr>
               <% @restaurant.each do |r| %>
               <tr>
               <td><%= r.id%></td>
               <td><%=r.name%></td>
               <td><%=r.address%></td>
               <td><%=r.no_of_guests%></td>
               <td><%=r.price_tier%></td>
               <td class="text-center">
                                <%= link_to user_restaurant_path(current_user, r), :class => 'btn btn-success btn-xs' do %><i class="glyphicon glyphicon-ok">Show</i><% end %>
                                <%= link_to edit_user_restaurant_path(current_user, r), :class => 'btn btn-info btn-xs' do %><i class="glyphicon glyphicon-edit">Edit</i><% end %>
                                <%= link_to user_restaurant_path(current_user, r), method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'btn btn-danger btn-xs' do %><i class="glyphicon glyphicon-remove">Delete</i><% end %>
                                </tr>
           <% end %>
           </tr>
           </tbody>
   </table>
   </div>
</div>
