<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>


<div style="padding-bottom: 100px">
<h4>Id:<%=@restaurant.id %></h4>
<h4>Restaurant Name:<%=@restaurant.name %></h4>
<h4>Restaurant Description:<%=@restaurant.description %></h4>
<h4>price_per_person:<%=@restaurant.price_per_person %></h4>
<h4>no_of_guest:<%=@restaurant.no_of_guest %></h4>
<h4>address:<%=@restaurant.address %></h4>
<h4>latitude:<%=@restaurant.latitude %></h4>
<h4>longitude:<%=@restaurant.longitude%></h4>
<h4>contact_number:<%=@restaurant.contact_number%></h4>
<h4>price_tier:<%=@restaurant.price_tier%></h4>




