<div class="name-field">
  <div class="col-sm-4">
  <%= form.label :first_name, "First name" %>
  </div>
  <%= form.text_field :first_name %>
</div>

<div class="name-field">
  <div class="col-sm-4">
  <%= form.label :last_name, "Last name" %>
  </div>
  <%= form.text_field :last_name %>
</div>

<div class="gender-field">
  <div class="col-sm-4">
  <%= form.label :gender, "Gender" %>
  </div>
  <%= form.select :gender, [['Male', 'M'], ['Female', 'F']] %>
</div>

<div class="text-field">
  <div class="col-sm-4">
  <%= form.label :email %>
  </div>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <div class="col-sm-4">
  <%= form.label :password %>
  </div>
  <%= form.password_field :password %>
</div>

<div class="image-field">
<div class="col-sm-2">
<%= form.label :picture %>
</div>
<%= form.file_field :avatar %>
</div>