<% if @user == current_user || (Preferences.find_by(preferer_id: current_user.id, preferee_id: @user.id).pefer && Preferences.find_by(preferer_id: @user.id, preferee_id: current_user.id).pefer) %>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="container">
<div class="jumbotron text-center">
<h1> Welcome to Your Profile </h1>

<div class="avatar">
	<% if current_user.avatar != nil %>
		<%=image_tag current_user.avatar%>
	<% else %>
		<img src="images/empty_avatar.png">
	<% end %>
</div>
<br>

<p>
	<strong>First name:</strong>
	<%=@user.first_name%>
</p>

<p>
	<strong>Last name:</strong>
	<%=@user.last_name%>
</p>

<p>
	<strong>Email:</strong>
	<%=@user.email%>
</p>

<p>
	<strong>Gender:</strong>
	<%=@user.gender%>
</p>
<% if current_user == @user %>
<p>
<<<<<<< HEAD
	<strong>number of spins:</strong>
	<%= @user.spin_num %>
</p>
<%end%>



<<<<<<< HEAD

</div>
</div>
<%else%>
<p>
	You dont have premission to view this page
</p>
<%end%>
=======
=======
	<strong>Location:</strong>
	<%= current_user.address %><br>
	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{current_user.latitude}%2C#{current_user.longitude}" %>
</p>

>>>>>>> master
<p>

</div>
</div>
>>>>>>> master
