<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="container">
<div class="jumbotron text-center">
<h1> Welcome to Your Profile </h1>

<div class="avatar">
	<%=image_tag current_user.avatar%>
</div>
<br>

<p>
	<strong>First name:</strong>
	<%=current_user.first_name%>
</p>

<p>
	<strong>Last name:</strong>
	<%=current_user.last_name%>
</p>

<p>
	<strong>Email:</strong>
	<%=current_user.email%>
</p>

<p>
	<strong>Gender:</strong>
	<%=current_user.gender%>
</p>

<p>
	<strong>number of spins:</strong>
	<%= current_user.spin_num %>
</p>



<p>

</div>
</div>