<!DOCTYPE html>
<html>
<head>
  <title>FoodRoulette</title>
   
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<% if signed_in? %>
  Signed in as: <%= current_user.email %>
  <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% if current_user.user_type == 1 %>
      <%= link_to 'Create a restaurant listing', new_user_restaurant_path(current_user) %>
      <%= link_to 'All My restaurant listing', user_restaurants_path(current_user) %>
      <% elsif current_user.user_type == 2 %>
      <%= link_to 'Create a restaurant listing', new_user_restaurant_path(current_user) %>
      <%= link_to 'All My restaurant listing', user_restaurants_path(current_user) %>
      <%= link_to 'All the listing', restaurants_path %>
      <% else %>
      <%= link_to 'My Profile', user_path(current_user) %>
      <%= link_to 'Edit Profile', edit_user_path(current_user) %>
    <% end %>
<% else %>
  <%= link_to 'Sign in', sign_in_path %>
  <%= link_to 'Signup with Facebook', '/auth/facebook' %>
<% end %>

<% flash.each do |key, value| %>
  <p class='alert alert-<%= key %>'><%= value %></p>
<% end %>

<%= yield %>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
</body>
</html>
