<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="assets/spinwheel.png" type="image/x-icon" />
 <title>FoodRoulette</title>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>

 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <body data-no-turbolink="true">
</head><!-- Simple sidebar code --><div id="wrapper">
 <div id="sidebar-wrapper">
    <div class="sidebar-menu">
       <a href="#menu-toggle-2" id="menu-toggle-2"><img src="assets/minilogo.png"></a>
     </div>
     <ul class="sidebar-nav">
       <li class="sidebar-brand">
         <%= link_to root_path do %>
           <%= image_tag('minilogo.png') %>
         <% end %>
       </li>
       <% if signed_in? %>
         <li>
           <%= link_to 'Sign out', sign_out_path, method: :delete %>
         </li>
           <% if current_user.restaurant_owner? %>
             <li>
               <%= link_to 'Create listing', new_user_restaurant_path(current_user) %>
             </li>
             <li>
             <%= link_to 'All My restaurant listing', user_restaurants_path(current_user) %>
             </li>
             <li>
                 <%= link_to 'My Profile', user_path(current_user) %>
             </li>
             <li>
                 <%= link_to 'Edit Profile', edit_user_path(current_user) %>
             </li>
           <% elsif current_user.admin? %>
               <li>
               <%= link_to 'Create listing', new_user_restaurant_path(current_user) %>
               </li>
               <li>
               <%= link_to 'All the listing', restaurants_path %>
               </li>
               <li>
               <a href ="#">Admin Settings</a>
               </li>
       <% else %>
             <li>
               <%= link_to 'Meet More Friends', new_party_path %>
             </li>
             <li>
               <%= link_to 'My Profile', user_path(current_user) %>
             </li>
              <li>
                <%= link_to 'Edit Profile', edit_user_path(current_user) %>
             </li>
             <li>
               <%=link_to 'Buy Spin Token', payments_path, method:"get", data: {'no-turbolink' => true} %>
             </li>
             <li>
               <a href ="#">Settings</a>
             </li>
             <li>
                <a href="#menu-toggle" id="menu-toggle">Toggle Menu</a>
             </li>
       <% end %>
     </ul>
     <% else %>
       <li>
       <%= link_to 'Sign in', sign_in_path %>
       </li>
       <li>
        <%= link_to 'Sign up', sign_up_path %>
       </li>
       <li>
        <%= link_to 'Signup with Facebook', '/auth/facebook' %>
       </li>
       <li>
       <a href="#menu-toggle" id="menu-toggle">Toggle Menu</a>
       </li>
     <% end %>
   </div>
 </div>
<!-- end of Simple Sidebar code -->
 <!-- If user is not signed in -->
<% flash.each do |key, value| %>
 <p class='alert alert-<%= key %>'><%= value %></p>
<% end %><!-- end of container-fluid -->
<div class="jumbotron text-center">
  <div class-"container-fluid headerstyle">
    <%= yield %>
 </div>
</div>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
</body>
</html>
